absl-py==2.0.0
addict==2.4.0
aiohttp==3.8.5
aiohttp-cors==0.7.0
aiorwlock==1.3.0
aiosignal==1.3.1
anyio==3.7.1
async-timeout==4.0.3
attrs==23.1.0
backoff==2.2.1
blessed==1.20.0
boltons==23.0.0
branca==0.6.0
brotlipy==0.7.0
cachetools==5.3.1
certifi==2023.7.22
cffi==1.15.1
charset-normalizer==2.0.4
click==8.1.7
cloudpickle==2.2.1
colorful==0.5.5
conda-package-handling==2.2.0
conda_package_streaming==0.9.0
contourpy==1.1.0
cryptography==39.0.1
cycler==0.11.0
Deprecated==1.2.14
distlib==0.3.7
dm-tree==0.1.8
einops==0.7.0
exceptiongroup==1.1.3
fastapi==0.103.1
filelock==3.12.2
folium==0.14.0
fonttools==4.40.0
frozenlist==1.4.0
fsspec==2023.6.0
GDAL==3.4.1
gitdb==4.0.11
GitPython==3.1.40
google-api-core==2.11.1
google-auth==2.22.0
google-auth-oauthlib==1.1.0
googleapis-common-protos==1.60.0
gpustat==1.1.1
grpcio==1.57.0
gym==0.26.2
gym-notices==0.0.8
Gymnasium==0.26.3
gymnasium-notices==0.0.1
h11==0.14.0
huggingface-hub==0.15.1
idna==3.4
imageio==2.31.1
imgaug==0.4.0
importlib-metadata==6.7.0
importlib-resources==5.12.0
Jinja2==3.1.2
joblib==1.3.2
jsonpatch==1.32
jsonpointer==2.1
jsonschema==4.19.0
jsonschema-specifications==2023.7.1
keyboard==0.13.5
kiwisolver==1.4.4
kubernetes==27.2.0
lazy_loader==0.2
lxml==4.9.3
lz4==4.3.2
Markdown==3.5.1
markdown-it-py==3.0.0
MarkupSafe==2.1.3
matplotlib==3.7.1
mdurl==0.1.2
mkl-fft==1.3.6
mkl-random==1.2.2
mkl-service==2.4.0
mmcv-full==1.7.1
msgpack==1.0.5
multidict==6.0.4
natsort==8.4.0
networkx==3.1
numpy==1.23.5
nvidia-cublas-cu12==12.2.5.6
nvidia-cuda-nvrtc-cu12==12.2.140
nvidia-cuda-runtime-cu12==12.2.140
nvidia-cudnn-cu12==8.9.4.25
nvidia-ml-py==12.535.108
oauthlib==3.2.2
opencensus==0.11.2
opencensus-context==0.1.3
opencv-contrib-python==4.8.0.76
opencv-python==4.7.0.72
opentelemetry-api==1.20.0
opentelemetry-exporter-otlp==1.20.0
opentelemetry-exporter-otlp-proto-common==1.20.0
opentelemetry-exporter-otlp-proto-grpc==1.20.0
opentelemetry-exporter-otlp-proto-http==1.20.0
opentelemetry-proto==1.20.0
opentelemetry-sdk==1.20.0
opentelemetry-semantic-conventions==0.41b0
packaging==23.1
pandas==2.1.0
Pillow==9.4.0
pip==23.1.2
platformdirs==3.10.0
pluggy==1.0.0
prometheus-client==0.17.1
protobuf==4.23.3
psutil==5.9.5
py-cpuinfo==9.0.0
py-spy==0.3.14
pyarrow==13.0.0
pyasn1==0.5.0
pyasn1-modules==0.3.0
pybrisque==1.0
pycocotools==2.0.7
pycosat==0.6.6
pycparser==2.21
pydantic==1.10.12
pydensecrf==1.0rc3
pygame==2.4.0
Pygments==2.16.1
pyOpenSSL==23.0.0
pyparsing==3.1.0
pyproj==3.5.0
PySocks==1.7.1
python-dateutil==2.8.2
pytorch-msssim==1.0.0
pytz==2023.3
PyWavelets==1.4.1
PyYAML==6.0
ray==2.3.1
ray-cpp==2.3.1
referencing==0.30.2
requests==2.29.0
requests-oauthlib==1.3.1
rich==13.5.2
rpds-py==0.10.2
rsa==4.9
ruamel.yaml==0.17.21
ruamel.yaml.clib==0.2.6
safetensors==0.3.1
scikit-image==0.21.0
scikit-learn==1.3.2
scipy==1.10.1
seaborn==0.13.0
setuptools==67.8.0
shapely==2.0.1
six==1.16.0
smart-open==6.4.0
smmap==5.0.1
sniffio==1.3.0
soupsieve==2.4.1
starlette==0.27.0
tabulate==0.9.0
tensorboard==2.15.1
tensorboard-data-server==0.7.2
tensorboardX==2.6.1
tensorrt==8.6.1.post1
tensorrt-bindings==8.6.1
tensorrt-libs==8.6.1
thop==0.1.1.post2209072238
threadpoolctl==3.2.0
tifffile==2023.4.12
timm==0.6.5
tomli==2.0.1
torch==1.13.1
torchaudio==0.13.1
torchinfo==1.8.0
torchvision==0.14.1
tqdm==4.65.0
typer==0.9.0
typing_extensions==4.6.3
tzdata==2023.3
ultralytics==8.0.208
urllib3==1.26.16
uvicorn==0.23.2
virtualenv==20.24.4
wcwidth==0.2.6
websocket-client==1.6.2
Werkzeug==3.0.1
wheel==0.38.4
wrapt==1.15.0
yapf==0.40.1
yarl==1.9.2
zipp==3.15.0
zstandard==0.19.0
